EXPO_PUBLIC_API_URL=https://uctmxxb939.execute-api.eu-west-1.amazonaws.com
EXPO_PUBLIC_USER_POOL_ID=eu-west-1_xxxxxxxxx
EXPO_PUBLIC_USER_POOL_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
EXPO_PUBLIC_S3_BUCKET=bedrawn-files-879866609739
EXPO_PUBLIC_AWS_REGION=eu-west-1
